/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.met {
  margin: 2em;
}

.searchParams {
  width: 100%;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

